@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.text-heading {
  font-weight: 700;
  font-size: 20px;
}

.pad-around {
  padding: 1.5rem 1.5rem;
}

.dimmed-text {
  color: rgb(131, 138, 197);
}

@media screen and (min-width: 900px) {
  .pad-around {
    padding: 5rem 10rem;
  }
}